
div#content > div.header{
    grid-area: 1/1/1/2;
    background-color: #982121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: sticky;
    top: 0;
    z-index: 12;
    padding-top: 10px;
    width: 100%;

}
div.header > .logo-div > .headingLogo{
    width: 100px;
}
div.header > .tab{
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 25px;
}
.home,
.menu,
.contact{
    cursor: pointer;
}
.home > h3,
.menu > h3,
.contact > h3{
    text-align: center;
    color: #ffb80e;
}
.home > h3:hover,
.menu > h3:hover,
.contact > h3:hover{
    color: var(--text-color);
    border-bottom: 1px solid #ffb80e;
}