div#content > div.main-content{
    grid-area: 2/1/2/2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
    width: 100%;
 }
div.main-content > .hero-div{
    height: 200px;
    width: 100%;
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
div.main-content > .overlay{
    height: 200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
div.hero-div > .hero-heading{
    z-index: 11;
    color: #ffff;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 900;
}
div.hero-div > p{
    z-index: 11;
    color: #fff;
    text-align: center;
}
div.main-content .about-wrapper{
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    gap: 20px;
}
div.main-content .about{
    width: 70%;
    border: 2px solid #982121;
    display: flex;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
    padding: 20px;
}
div.main-content > .main-headings{
    color: #982121;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.about > p{
    text-align: center;
} 
div.about-wrapper > .service-div{
    width: 70%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/service1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #982121;
    border-radius: 10px;
}
div.about-wrapper > .service-div2{
    width: 70%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/service2.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #982121;
    border-radius: 10px;
}
div.about-wrapper > .service-div3{
    width: 70%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/service-3.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
}